<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 隐射domin对象 -->
<mapper namespace="com.cmp.core.user.dao.UserDao">

    <!-- 格式化用户对象 -->
    <resultMap type="CmpUser" id="CmpUser">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="role_name" property="roleName"/>
        <result column="token" property="token"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
    </resultMap>

    <!-- 获取所有用户实体 -->
    <select id="describeCmpUsers" resultMap="CmpUser">
        select * from tbl_user
    </select>

    <!-- 通过id获取指定用户实体 -->
    <select id="describeUserById" parameterType="String" resultMap="CmpUser">
        select * from tbl_user where user_id=#{userId}
    </select>

    <!-- 通过id获取指定用户实体 -->
    <select id="describeUserByName" parameterType="String" resultMap="CmpUser">
        select * from tbl_user where user_name=#{userName}
    </select>

    <!-- 通过id删除指定用户实体 -->
    <update id="deleteUser" parameterType="String">
        delete from tbl_user where user_id=#{userId}
    </update>

    <!-- 添加用户实体 -->
    <insert id="addUser" parameterType="Map">
        insert into tbl_user( user_id,user_name,password,role_name,token,phone,email)
        values (#{userId},#{userName},#{password},#{roleName},#{token},#{phone},#{email})
    </insert>

    <!-- 更新用户实体 -->
    <update id="updateUser" parameterType="Map">
        update  tbl_user set user_name=#{userName},password=#{password},token=#{token},phone=#{phone},email=#{email} where user_id=#{userId}
    </update>

    <!-- 格式化用户映射对象 -->
    <resultMap type="UserMappingEntity" id="UserMappingEntity">
        <result column="id" property="id"/>
        <result column="cmp_user_name" property="cmpUserName"/>
        <result column="cmp_user_id" property="cmpUserId"/>
        <result column="access_key" property="accessKey"/>
        <result column="auth_info" property="authInfo"/>
        <result column="cloud_id" property="cloudId"/>
    </resultMap>

    <!-- 查询映射关系列表 -->
    <select id="describeUserMappings" resultMap="UserMappingEntity">
        select * from tbl_user_mapping
    </select>

    <!-- 根据id查询映射关系 -->
    <select id="describeUserMappingById" parameterType="String" resultMap="UserMappingEntity">
        select * from tbl_user_mapping where id=#{mappingId}
    </select>

    <!-- 根据用户id查询映射关系 -->
    <select id="describeUserMappingsByCmpUserId" parameterType="String" resultMap="UserMappingEntity">
       select * from tbl_user_mapping where cmp_user_id=#{cmpUserId}
    </select>

    <!-- 添加用户映射 -->
    <insert id="addUserMapping" parameterType="Map">
        insert into tbl_user_mapping( id,cmp_user_name,cmp_user_id,access_key,auth_info,cloud_id)
        values (#{id},#{cmpUserName},#{cmpUserId},#{accessKey},#{authInfo},#{cloudId})
    </insert>

    <!-- 更新用户映射 -->
    <update id="updateUserMapping" parameterType="Map">
        update  tbl_user_mapping set access_key=#{accessKey},auth_info=#{authInfo} where id=#{id}
    </update>

    <!-- 根据id删除用户映射关系 -->
    <update id="delUserMappingsById" parameterType="String">
        delete from tbl_user_mapping where id=#{mappingId}
    </update>

    <!-- 据云id删除用户映射关系 -->
    <update id="delUserMappingsByCloudId" parameterType="String">
        delete from tbl_user_mapping where cloud_id=#{cloudId}
    </update>

    <!-- 根据用户id删除用户映射关系 -->
    <select id="delUserMappingsByCmpUserId" parameterType="String">
        delete from tbl_user_mapping where cmp_user_id=#{cmpUserId}
    </select>


</mapper>
